<!--<div style="padding: 0 1em;"> -->
<figure>
<div
    {{ with .Get "class" }}
        class="{{.}}-gallery"
    {{ end }}
    style="display: grid; gap: .5em;
    {{ with .Get "ncol" }}
        grid-template-columns: repeat({{ . }}, 1fr);
    {{ else }}
        grid-auto-flow: column;
    {{ end  }}
    "
>
    {{ .Inner }}
</div>
<figcaption
    {{ with .Get "class" }}
        class="{{.}}-text"
    {{ end }}
>
    {{ with .Get "title" }}
        <h4>{{.}}</h4>
    {{ end }}
    {{ with .Get "caption" }}
        <p class="gallery-caption">{{ . }}</p>
    {{ end }}
</figcaption>
</figure>
