<!--<div style="padding: 0 1em;"> -->
<figure>
<div
    {{ with .Get "class" }}
        class="{{.}}-gallery"
    {{ end }}
    style="display: grid; gap: .5em; place-items: center;
    {{ with .Get "ncol" }}
        grid-template-columns: repeat({{ . }}, 1fr);
    {{ else }}
        grid-auto-flow: column;
    {{ end  }}
    "
>
    {{ .Inner }}
</div>
{{ if (.Get "title") | or (.Get "caption") }}
    <figcaption
        {{ with .Get "class" }}
            class="{{.}}-text"
        {{ end }}
        style="margin-top: 1em;"
    >
        {{ with .Get "title" }}
            <h4>{{.}}</h4>
        {{ end }}
        {{ with .Get "caption" }}
            <p class="gallery-caption">{{ . | safeHTML }}</p>
        {{ end }}
    </figcaption>
{{ end }}
</figure>
